<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.RiskReportMainMapper" >
    <!-- resultMap可以通过集成来实现，注意：association 一定要放在collection 前面  -->
    <!-- 顺序如下： constructor?,id*,result*,association*,collection*,discriminator? -->
	<resultMap id="ResultMapWithLink" type="com.example.vo.RiskReportMain" extends="ResultMapWithBLOBs" >
	    <!-- 一对一关联查询 -->
	    <association property="riskReportAssess"
	     		resultMap="com.example.dao.RiskReportAssessMapper.BaseResultMap">
	    </association>
	    <!-- 一对多关系 -->
	    <collection property="riskReportFireDangerList" 
	    		resultMap="com.example.dao.RiskReportFireDangerMapper.BaseResultMap">
	    </collection>
  	</resultMap>
	<!-- 关联多个表的查询，通过使用左外连接的方式进行查询 -->
  	<select id="queryRiskReportFire" parameterType="String" resultMap="ResultMapWithLink">
  	  select main.*,fire.*,assess.*
  	  from riskreport_main main 
  	  left join riskreport_firedanger fire  on   main.riskFileNo = fire.riskFileNo 
  	  left join riskreport_assess assess on  main.riskFileNo = assess.riskFileNo
  	  where main.riskFileNo= #{riskFileNo}
  	</select>
  	
  	<select id="queryRiskReportMainPage"  parameterType="java.util.HashMap" resultMap="ResultMapWithBLOBs">
  		select * from  riskreport_main 
  		<where>
<!--   			and riskFileNo =#{riskReportMainVo.riskFileNo} -->
  			<include refid="queryRiskReportMainPage_sql"></include> 
  			limit #{offset},#{pageSize}
  		</where>
  	</select>
  	<!-- 查询出总数 -->
  	<select id="queryRiskReportMainCount"  parameterType="java.util.HashMap" resultType="Integer">
  		select count(*) from  riskreport_main 
  		<where>
  			<include refid="queryRiskReportMainPage_sql"></include>
  		</where>
  	</select>
  	
<!--   	查询所需的where条件 -->
  	<sql id="queryRiskReportMainPage_sql">
  		 <if test="riskReportMainVo.riskFileNo != null" >
  		      and riskFileNo =#{riskReportMainVo.riskFileNo}
  		 </if>
  		  <if test="riskReportMainVo.riskCode != null">
  		      and riskCode =#{riskReportMainVo.riskCode} 
  		 </if>
  	</sql>
  	
</mapper>