<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.dao.UtiFactorMapper">
	
	<select id="getUtiFactorList" resultMap="BaseResultMap"  parameterType="java.util.HashMap">
		select * from  utifactor
		<where>
			<include refid="queryUtiFactor"></include>
		</where>
	</select>
	
	<sql id="queryUtiFactor">
		<if test="riskModel !=null and riskModel!=''">
			and riskModel= #{riskModel}
		</if> 
<!-- 		通过map传递字符串，然后进行循环解析 -->
		<if test="factorType !=null and factorType !=''">
			and factorType in 
			<foreach  item="item" index="index" collection="factorType.split(',')"
							 open="("  separator=","  close=")" >
				#{item}
			</foreach>
		</if>
	</sql>
	
	
	
</mapper>