<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UtiFormulaMapper">

   <select id="getUtiFormulaList" resultMap="BaseResultMap"  parameterType="java.util.HashMap">
		select * from  UtiFormula
		<where>
			<include refid="queryUtiFormula"></include>
		</where>
	</select>
	
	<sql id="queryUtiFormula">
		<if test="riskModel !=null and riskModel!=''">
			and riskModel= #{riskModel}
		</if> 
		<if test="factorType !=null and factorType !=''">
			and factorType in 
			<foreach  item="item" index="index" collection="factorType.split(',')"
							 open="("  separator=","  close=")" >
				#{item}
			</foreach>
		</if>
	</sql>
	
</mapper>