<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.func.risktest.dao.EmpDao">
	<resultMap id="EmpMap" type="com.example.vo.Emp" >
		<id column="emp_id" property="empId" jdbcType="INTEGER"/>
		<id column="emp_name" property="empName" jdbcType="VARCHAR"/>
		<id column="emp_age" property="empAge" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getEMpById"  resultMap="EmpMap" 
						parameterType="java.lang.Integer">
		select emp_name,emp_age from icss_emp where emp_id = #{empId}
	</select>
	
	<select id="getEmpNameById"  resultType="String" 
						parameterType="java.lang.Integer">
		select emp_name from icss_emp where emp_id = #{empId}
	</select>
	
	<!--根据指定的id来删除 -->	
	<delete id="deleteEmpById" parameterType="Integer">
		delete from icss_emp where emp_id =#{empId}
	</delete>
	
	<!--增加emp信息 -->
	<insert id="insertEmpInfo" parameterType="com.example.vo.Emp">
	 	insert into icss_emp(emp_name,emp_age) values(#{empName},#{empAge})
	</insert>
	
</mapper>