<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.LeaveMainMapper" >
  <resultMap id="BaseResultMap" type="com.example.vo.LeaveMain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_num" property="jobNum" jdbcType="VARCHAR" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="team_code" property="teamCode" jdbcType="VARCHAR" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="leave_type" property="leaveType" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="sum_day" property="sumDay" jdbcType="INTEGER" />
    <result column="insert_time_for_his" property="insertTimeForHis" jdbcType="TIMESTAMP" />
    <result column="operate_time_for_his" property="operateTimeForHis" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.vo.LeaveMain" extends="BaseResultMap" >
    <result column="detail_desc" property="detailDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_num, employee_name, team_code, team_name, project_code, project_name, leave_type, 
    start_time, end_time, sum_day, insert_time_for_his, operate_time_for_his
  </sql>
  <sql id="Blob_Column_List" >
    detail_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from leave_main
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from leave_main
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.vo.LeaveMain" >
    insert into leave_main (id, job_num, employee_name, 
      team_code, team_name, project_code, 
      project_name, leave_type, start_time, 
      end_time, sum_day, insert_time_for_his, 
      operate_time_for_his, detail_desc)
    values (#{id,jdbcType=INTEGER}, #{jobNum,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}, 
      #{teamCode,jdbcType=VARCHAR}, #{teamName,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{leaveType,jdbcType=VARCHAR}, #{startTime,jdbcType=DATE}, 
      #{endTime,jdbcType=DATE}, #{sumDay,jdbcType=INTEGER}, #{insertTimeForHis,jdbcType=TIMESTAMP}, 
      #{operateTimeForHis,jdbcType=TIMESTAMP}, #{detailDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vo.LeaveMain" >
    insert into leave_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobNum != null" >
        job_num,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="teamCode != null" >
        team_code,
      </if>
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="leaveType != null" >
        leave_type,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="sumDay != null" >
        sum_day,
      </if>
      <if test="insertTimeForHis != null" >
        insert_time_for_his,
      </if>
      <if test="operateTimeForHis != null" >
        operate_time_for_his,
      </if>
      <if test="detailDesc != null" >
        detail_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobNum != null" >
        #{jobNum,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="teamCode != null" >
        #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="leaveType != null" >
        #{leaveType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="sumDay != null" >
        #{sumDay,jdbcType=INTEGER},
      </if>
      <if test="insertTimeForHis != null" >
        #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="detailDesc != null" >
        #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.vo.LeaveMain" >
    update leave_main
    <set >
      <if test="jobNum != null" >
        job_num = #{jobNum,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="teamCode != null" >
        team_code = #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="leaveType != null" >
        leave_type = #{leaveType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="sumDay != null" >
        sum_day = #{sumDay,jdbcType=INTEGER},
      </if>
      <if test="insertTimeForHis != null" >
        insert_time_for_his = #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        operate_time_for_his = #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="detailDesc != null" >
        detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.vo.LeaveMain" >
    update leave_main
    set job_num = #{jobNum,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      team_code = #{teamCode,jdbcType=VARCHAR},
      team_name = #{teamName,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      leave_type = #{leaveType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      sum_day = #{sumDay,jdbcType=INTEGER},
      insert_time_for_his = #{insertTimeForHis,jdbcType=TIMESTAMP},
      operate_time_for_his = #{operateTimeForHis,jdbcType=TIMESTAMP},
      detail_desc = #{detailDesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.vo.LeaveMain" >
    update leave_main
    set job_num = #{jobNum,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      team_code = #{teamCode,jdbcType=VARCHAR},
      team_name = #{teamName,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      leave_type = #{leaveType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      sum_day = #{sumDay,jdbcType=INTEGER},
      insert_time_for_his = #{insertTimeForHis,jdbcType=TIMESTAMP},
      operate_time_for_his = #{operateTimeForHis,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>