<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RiskReportConstructMapper">
  <resultMap id="BaseResultMap" type="com.example.vo.RiskReportConstruct">
    <id column="riskfileno" jdbcType="VARCHAR" property="riskfileno" />
    <result column="insert_time_for_his" jdbcType="TIMESTAMP" property="insert_time_for_his" />
    <result column="operatetimeforhis" jdbcType="TIMESTAMP" property="operatetimeforhis" />
  </resultMap>
  <sql id="Base_Column_List">
    riskfileno, insert_time_for_his, operatetimeforhis
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from riskreport_construct
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from riskreport_construct
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.vo.RiskReportConstruct">
    insert into riskreport_construct (riskfileno, insert_time_for_his, 
      operatetimeforhis)
    values (#{riskfileno,jdbcType=VARCHAR}, #{insert_time_for_his,jdbcType=TIMESTAMP}, 
      #{operatetimeforhis,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vo.RiskReportConstruct">
    insert into riskreport_construct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="riskfileno != null">
        riskfileno,
      </if>
      <if test="insert_time_for_his != null">
        insert_time_for_his,
      </if>
      <if test="operatetimeforhis != null">
        operatetimeforhis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="riskfileno != null">
        #{riskfileno,jdbcType=VARCHAR},
      </if>
      <if test="insert_time_for_his != null">
        #{insert_time_for_his,jdbcType=TIMESTAMP},
      </if>
      <if test="operatetimeforhis != null">
        #{operatetimeforhis,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.vo.RiskReportConstruct">
    update riskreport_construct
    <set>
      <if test="insert_time_for_his != null">
        insert_time_for_his = #{insert_time_for_his,jdbcType=TIMESTAMP},
      </if>
      <if test="operatetimeforhis != null">
        operatetimeforhis = #{operatetimeforhis,jdbcType=TIMESTAMP},
      </if>
    </set>
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.vo.RiskReportConstruct">
    update riskreport_construct
    set insert_time_for_his = #{insert_time_for_his,jdbcType=TIMESTAMP},
      operatetimeforhis = #{operatetimeforhis,jdbcType=TIMESTAMP}
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </update>

  
 <!--  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from riskreport_construct
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </select> -->
 <!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from riskreport_construct
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </delete> -->
 <!--  <insert id="insert" parameterType="com.example.vo.RiskReportConstruct">
    insert into riskreport_construct (riskfileno, inserttimeforhis, operatetimeforhis
      )
    values (#{riskfileno,jdbcType=VARCHAR}, #{inserttimeforhis,jdbcType=TIMESTAMP}, #{operatetimeforhis,jdbcType=TIMESTAMP}
      )
  </insert> -->
  <!-- <insert id="insertSelective" parameterType="com.example.vo.RiskReportConstruct">
    insert into riskreport_construct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="riskfileno != null">
        riskfileno,
      </if>
      <if test="inserttimeforhis != null">
        inserttimeforhis,
      </if>
      <if test="operatetimeforhis != null">
        operatetimeforhis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="riskfileno != null">
        #{riskfileno,jdbcType=VARCHAR},
      </if>
      <if test="inserttimeforhis != null">
        #{inserttimeforhis,jdbcType=TIMESTAMP},
      </if>
      <if test="operatetimeforhis != null">
        #{operatetimeforhis,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert> -->
  <!-- <update id="updateByPrimaryKeySelective" parameterType="com.example.vo.RiskReportConstruct">
    update riskreport_construct
    <set>
      <if test="inserttimeforhis != null">
        inserttimeforhis = #{inserttimeforhis,jdbcType=TIMESTAMP},
      </if>
      <if test="operatetimeforhis != null">
        operatetimeforhis = #{operatetimeforhis,jdbcType=TIMESTAMP},
      </if>
    </set>
    where riskfileno = #{riskfileno,jdbcType=VARCHAR}
  </update> -->
 
</mapper>