<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.riskfire.dao.RiskFireDao">
	<!-- <resultMap id="EmpMap" type="com.vo.Emp" >
		<id column="emp_id" property="empId" jdbcType="INTEGER"/>
		<id column="emp_name" property="empName" jdbcType="VARCHAR"/>
		<id column="emp_age" property="empAge" jdbcType="VARCHAR"/>
	</resultMap>
	 -->
	
	
</mapper>