<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.UtiWeightMapper" >
  <resultMap id="BaseResultMap" type="com.example.vo.UtiWeight" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="riskModel" property="riskModel" jdbcType="VARCHAR" />
    <result column="comCode" property="comCode" jdbcType="VARCHAR" />
    <result column="operatorCode" property="operatorCode" jdbcType="VARCHAR" />
    <result column="operatorName" property="operatorName" jdbcType="VARCHAR" />
    <result column="fireDanger" property="fireDanger" jdbcType="DECIMAL" />
    <result column="waterDanger" property="waterDanger" jdbcType="DECIMAL" />
    <result column="windDanger" property="windDanger" jdbcType="DECIMAL" />
    <result column="thunderDanger" property="thunderDanger" jdbcType="DECIMAL" />
    <result column="snowDanger" property="snowDanger" jdbcType="DECIMAL" />
    <result column="theftDanger" property="theftDanger" jdbcType="DECIMAL" />
    <result column="earthQuakeDanger" property="earthQuakeDanger" jdbcType="DECIMAL" />
    <result column="geologyDanger" property="geologyDanger" jdbcType="DECIMAL" />
    <result column="validStatus" property="validStatus" jdbcType="CHAR" />
    <result column="insertTimeForHis" property="insertTimeForHis" jdbcType="TIMESTAMP" />
    <result column="operateTimeForHis" property="operateTimeForHis" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, riskModel, comCode, operatorCode, operatorName, fireDanger, waterDanger, windDanger, 
    thunderDanger, snowDanger, theftDanger, earthQuakeDanger, geologyDanger, validStatus, 
    insertTimeForHis, operateTimeForHis
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from utiweight
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from utiweight
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.vo.UtiWeight" >
    insert into utiweight (id, riskModel, comCode, 
      operatorCode, operatorName, fireDanger, 
      waterDanger, windDanger, thunderDanger, 
      snowDanger, theftDanger, earthQuakeDanger, 
      geologyDanger, validStatus, insertTimeForHis, 
      operateTimeForHis)
    values (#{id,jdbcType=BIGINT}, #{riskModel,jdbcType=VARCHAR}, #{comCode,jdbcType=VARCHAR}, 
      #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{fireDanger,jdbcType=DECIMAL}, 
      #{waterDanger,jdbcType=DECIMAL}, #{windDanger,jdbcType=DECIMAL}, #{thunderDanger,jdbcType=DECIMAL}, 
      #{snowDanger,jdbcType=DECIMAL}, #{theftDanger,jdbcType=DECIMAL}, #{earthQuakeDanger,jdbcType=DECIMAL}, 
      #{geologyDanger,jdbcType=DECIMAL}, #{validStatus,jdbcType=CHAR}, #{insertTimeForHis,jdbcType=TIMESTAMP}, 
      #{operateTimeForHis,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vo.UtiWeight" >
    insert into utiweight
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="riskModel != null" >
        riskModel,
      </if>
      <if test="comCode != null" >
        comCode,
      </if>
      <if test="operatorCode != null" >
        operatorCode,
      </if>
      <if test="operatorName != null" >
        operatorName,
      </if>
      <if test="fireDanger != null" >
        fireDanger,
      </if>
      <if test="waterDanger != null" >
        waterDanger,
      </if>
      <if test="windDanger != null" >
        windDanger,
      </if>
      <if test="thunderDanger != null" >
        thunderDanger,
      </if>
      <if test="snowDanger != null" >
        snowDanger,
      </if>
      <if test="theftDanger != null" >
        theftDanger,
      </if>
      <if test="earthQuakeDanger != null" >
        earthQuakeDanger,
      </if>
      <if test="geologyDanger != null" >
        geologyDanger,
      </if>
      <if test="validStatus != null" >
        validStatus,
      </if>
      <if test="insertTimeForHis != null" >
        insertTimeForHis,
      </if>
      <if test="operateTimeForHis != null" >
        operateTimeForHis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="riskModel != null" >
        #{riskModel,jdbcType=VARCHAR},
      </if>
      <if test="comCode != null" >
        #{comCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null" >
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="fireDanger != null" >
        #{fireDanger,jdbcType=DECIMAL},
      </if>
      <if test="waterDanger != null" >
        #{waterDanger,jdbcType=DECIMAL},
      </if>
      <if test="windDanger != null" >
        #{windDanger,jdbcType=DECIMAL},
      </if>
      <if test="thunderDanger != null" >
        #{thunderDanger,jdbcType=DECIMAL},
      </if>
      <if test="snowDanger != null" >
        #{snowDanger,jdbcType=DECIMAL},
      </if>
      <if test="theftDanger != null" >
        #{theftDanger,jdbcType=DECIMAL},
      </if>
      <if test="earthQuakeDanger != null" >
        #{earthQuakeDanger,jdbcType=DECIMAL},
      </if>
      <if test="geologyDanger != null" >
        #{geologyDanger,jdbcType=DECIMAL},
      </if>
      <if test="validStatus != null" >
        #{validStatus,jdbcType=CHAR},
      </if>
      <if test="insertTimeForHis != null" >
        #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.vo.UtiWeight" >
    update utiweight
    <set >
      <if test="riskModel != null" >
        riskModel = #{riskModel,jdbcType=VARCHAR},
      </if>
      <if test="comCode != null" >
        comCode = #{comCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null" >
        operatorCode = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        operatorName = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="fireDanger != null" >
        fireDanger = #{fireDanger,jdbcType=DECIMAL},
      </if>
      <if test="waterDanger != null" >
        waterDanger = #{waterDanger,jdbcType=DECIMAL},
      </if>
      <if test="windDanger != null" >
        windDanger = #{windDanger,jdbcType=DECIMAL},
      </if>
      <if test="thunderDanger != null" >
        thunderDanger = #{thunderDanger,jdbcType=DECIMAL},
      </if>
      <if test="snowDanger != null" >
        snowDanger = #{snowDanger,jdbcType=DECIMAL},
      </if>
      <if test="theftDanger != null" >
        theftDanger = #{theftDanger,jdbcType=DECIMAL},
      </if>
      <if test="earthQuakeDanger != null" >
        earthQuakeDanger = #{earthQuakeDanger,jdbcType=DECIMAL},
      </if>
      <if test="geologyDanger != null" >
        geologyDanger = #{geologyDanger,jdbcType=DECIMAL},
      </if>
      <if test="validStatus != null" >
        validStatus = #{validStatus,jdbcType=CHAR},
      </if>
      <if test="insertTimeForHis != null" >
        insertTimeForHis = #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        operateTimeForHis = #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.vo.UtiWeight" >
    update utiweight
    set riskModel = #{riskModel,jdbcType=VARCHAR},
      comCode = #{comCode,jdbcType=VARCHAR},
      operatorCode = #{operatorCode,jdbcType=VARCHAR},
      operatorName = #{operatorName,jdbcType=VARCHAR},
      fireDanger = #{fireDanger,jdbcType=DECIMAL},
      waterDanger = #{waterDanger,jdbcType=DECIMAL},
      windDanger = #{windDanger,jdbcType=DECIMAL},
      thunderDanger = #{thunderDanger,jdbcType=DECIMAL},
      snowDanger = #{snowDanger,jdbcType=DECIMAL},
      theftDanger = #{theftDanger,jdbcType=DECIMAL},
      earthQuakeDanger = #{earthQuakeDanger,jdbcType=DECIMAL},
      geologyDanger = #{geologyDanger,jdbcType=DECIMAL},
      validStatus = #{validStatus,jdbcType=CHAR},
      insertTimeForHis = #{insertTimeForHis,jdbcType=TIMESTAMP},
      operateTimeForHis = #{operateTimeForHis,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>