<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.WzTFBHMapper">
  <resultMap id="BaseResultMap" type="com.vo.WzTFBH">
    <id column="TFBH" jdbcType="VARCHAR" property="TFBH" />
    <result column="TFM" jdbcType="VARCHAR" property="TFM" />
    <result column="TFLAND" jdbcType="VARCHAR" property="TFLAND" />
    <result column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="ISCOMPLETED" jdbcType="VARCHAR" property="ISCOMPLETED" />
    <result column="TFME" jdbcType="VARCHAR" property="TFME" />
    <result column="TFDATE" jdbcType="DATE" property="TFDATE" />
    <result column="BEDITE" jdbcType="VARCHAR" property="BEDITE" />
    <result column="ISLAND" jdbcType="VARCHAR" property="ISLAND" />
    <result column="ISACTIVE" jdbcType="VARCHAR" property="ISACTIVE" />
    <result column="ISUSE" jdbcType="VARCHAR" property="ISUSE" />
  </resultMap>
  <sql id="Base_Column_List">
    TFBH, TFM, TFLAND, ID, ISCOMPLETED, TFME, TFDATE, BEDITE, ISLAND, ISACTIVE, ISUSE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WZ_TFBH
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WZ_TFBH
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vo.WzTFBH">
    insert into WZ_TFBH (TFBH, TFM, TFLAND, 
      ID, ISCOMPLETED, TFME, 
      TFDATE, BEDITE, ISLAND, 
      ISACTIVE, ISUSE)
    values (#{TFBH,jdbcType=VARCHAR}, #{TFM,jdbcType=VARCHAR}, #{TFLAND,jdbcType=VARCHAR}, 
      #{ID,jdbcType=VARCHAR}, #{ISCOMPLETED,jdbcType=VARCHAR}, #{TFME,jdbcType=VARCHAR}, 
      #{TFDATE,jdbcType=DATE}, #{BEDITE,jdbcType=VARCHAR}, #{ISLAND,jdbcType=VARCHAR}, 
      #{ISACTIVE,jdbcType=VARCHAR}, #{ISUSE,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vo.WzTFBH">
    insert into WZ_TFBH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="TFBH != null">
        TFBH,
      </if>
      <if test="TFM != null">
        TFM,
      </if>
      <if test="TFLAND != null">
        TFLAND,
      </if>
      <if test="ID != null">
        ID,
      </if>
      <if test="ISCOMPLETED != null">
        ISCOMPLETED,
      </if>
      <if test="TFME != null">
        TFME,
      </if>
      <if test="TFDATE != null">
        TFDATE,
      </if>
      <if test="BEDITE != null">
        BEDITE,
      </if>
      <if test="ISLAND != null">
        ISLAND,
      </if>
      <if test="ISACTIVE != null">
        ISACTIVE,
      </if>
      <if test="ISUSE != null">
        ISUSE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="TFBH != null">
        #{TFBH,jdbcType=VARCHAR},
      </if>
      <if test="TFM != null">
        #{TFM,jdbcType=VARCHAR},
      </if>
      <if test="TFLAND != null">
        #{TFLAND,jdbcType=VARCHAR},
      </if>
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="ISCOMPLETED != null">
        #{ISCOMPLETED,jdbcType=VARCHAR},
      </if>
      <if test="TFME != null">
        #{TFME,jdbcType=VARCHAR},
      </if>
      <if test="TFDATE != null">
        #{TFDATE,jdbcType=DATE},
      </if>
      <if test="BEDITE != null">
        #{BEDITE,jdbcType=VARCHAR},
      </if>
      <if test="ISLAND != null">
        #{ISLAND,jdbcType=VARCHAR},
      </if>
      <if test="ISACTIVE != null">
        #{ISACTIVE,jdbcType=VARCHAR},
      </if>
      <if test="ISUSE != null">
        #{ISUSE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vo.WzTFBH">
    update WZ_TFBH
    <set>
      <if test="TFM != null">
        TFM = #{TFM,jdbcType=VARCHAR},
      </if>
      <if test="TFLAND != null">
        TFLAND = #{TFLAND,jdbcType=VARCHAR},
      </if>
      <if test="ID != null">
        ID = #{ID,jdbcType=VARCHAR},
      </if>
      <if test="ISCOMPLETED != null">
        ISCOMPLETED = #{ISCOMPLETED,jdbcType=VARCHAR},
      </if>
      <if test="TFME != null">
        TFME = #{TFME,jdbcType=VARCHAR},
      </if>
      <if test="TFDATE != null">
        TFDATE = #{TFDATE,jdbcType=DATE},
      </if>
      <if test="BEDITE != null">
        BEDITE = #{BEDITE,jdbcType=VARCHAR},
      </if>
      <if test="ISLAND != null">
        ISLAND = #{ISLAND,jdbcType=VARCHAR},
      </if>
      <if test="ISACTIVE != null">
        ISACTIVE = #{ISACTIVE,jdbcType=VARCHAR},
      </if>
      <if test="ISUSE != null">
        ISUSE = #{ISUSE,jdbcType=VARCHAR},
      </if>
    </set>
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vo.WzTFBH">
    update WZ_TFBH
    set TFM = #{TFM,jdbcType=VARCHAR},
      TFLAND = #{TFLAND,jdbcType=VARCHAR},
      ID = #{ID,jdbcType=VARCHAR},
      ISCOMPLETED = #{ISCOMPLETED,jdbcType=VARCHAR},
      TFME = #{TFME,jdbcType=VARCHAR},
      TFDATE = #{TFDATE,jdbcType=DATE},
      BEDITE = #{BEDITE,jdbcType=VARCHAR},
      ISLAND = #{ISLAND,jdbcType=VARCHAR},
      ISACTIVE = #{ISACTIVE,jdbcType=VARCHAR},
      ISUSE = #{ISUSE,jdbcType=VARCHAR}
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.vo.WzTFBH">
    <id column="TFBH" jdbcType="VARCHAR" property="TFBH" />
    <result column="TFM" jdbcType="VARCHAR" property="TFM" />
    <result column="TFLAND" jdbcType="VARCHAR" property="TFLAND" />
    <result column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="ISCOMPLETED" jdbcType="VARCHAR" property="ISCOMPLETED" />
    <result column="TFME" jdbcType="VARCHAR" property="TFME" />
    <result column="TFDATE" jdbcType="DATE" property="TFDATE" />
    <result column="BEDITE" jdbcType="VARCHAR" property="BEDITE" />
    <result column="ISLAND" jdbcType="VARCHAR" property="ISLAND" />
    <result column="ISACTIVE" jdbcType="VARCHAR" property="ISACTIVE" />
    <result column="ISUSE" jdbcType="VARCHAR" property="ISUSE" />
  </resultMap>
  <sql id="Base_Column_List">
    TFBH, TFM, TFLAND, ID, ISCOMPLETED, TFME, TFDATE, BEDITE, ISLAND, ISACTIVE, ISUSE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WZ_TFBH
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WZ_TFBH
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vo.WzTFBH">
    insert into WZ_TFBH (TFBH, TFM, TFLAND, 
      ID, ISCOMPLETED, TFME, 
      TFDATE, BEDITE, ISLAND, 
      ISACTIVE, ISUSE)
    values (#{TFBH,jdbcType=VARCHAR}, #{TFM,jdbcType=VARCHAR}, #{TFLAND,jdbcType=VARCHAR}, 
      #{ID,jdbcType=VARCHAR}, #{ISCOMPLETED,jdbcType=VARCHAR}, #{TFME,jdbcType=VARCHAR}, 
      #{TFDATE,jdbcType=DATE}, #{BEDITE,jdbcType=VARCHAR}, #{ISLAND,jdbcType=VARCHAR}, 
      #{ISACTIVE,jdbcType=VARCHAR}, #{ISUSE,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vo.WzTFBH">
    insert into WZ_TFBH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="TFBH != null">
        TFBH,
      </if>
      <if test="TFM != null">
        TFM,
      </if>
      <if test="TFLAND != null">
        TFLAND,
      </if>
      <if test="ID != null">
        ID,
      </if>
      <if test="ISCOMPLETED != null">
        ISCOMPLETED,
      </if>
      <if test="TFME != null">
        TFME,
      </if>
      <if test="TFDATE != null">
        TFDATE,
      </if>
      <if test="BEDITE != null">
        BEDITE,
      </if>
      <if test="ISLAND != null">
        ISLAND,
      </if>
      <if test="ISACTIVE != null">
        ISACTIVE,
      </if>
      <if test="ISUSE != null">
        ISUSE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="TFBH != null">
        #{TFBH,jdbcType=VARCHAR},
      </if>
      <if test="TFM != null">
        #{TFM,jdbcType=VARCHAR},
      </if>
      <if test="TFLAND != null">
        #{TFLAND,jdbcType=VARCHAR},
      </if>
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="ISCOMPLETED != null">
        #{ISCOMPLETED,jdbcType=VARCHAR},
      </if>
      <if test="TFME != null">
        #{TFME,jdbcType=VARCHAR},
      </if>
      <if test="TFDATE != null">
        #{TFDATE,jdbcType=DATE},
      </if>
      <if test="BEDITE != null">
        #{BEDITE,jdbcType=VARCHAR},
      </if>
      <if test="ISLAND != null">
        #{ISLAND,jdbcType=VARCHAR},
      </if>
      <if test="ISACTIVE != null">
        #{ISACTIVE,jdbcType=VARCHAR},
      </if>
      <if test="ISUSE != null">
        #{ISUSE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vo.WzTFBH">
    update WZ_TFBH
    <set>
      <if test="TFM != null">
        TFM = #{TFM,jdbcType=VARCHAR},
      </if>
      <if test="TFLAND != null">
        TFLAND = #{TFLAND,jdbcType=VARCHAR},
      </if>
      <if test="ID != null">
        ID = #{ID,jdbcType=VARCHAR},
      </if>
      <if test="ISCOMPLETED != null">
        ISCOMPLETED = #{ISCOMPLETED,jdbcType=VARCHAR},
      </if>
      <if test="TFME != null">
        TFME = #{TFME,jdbcType=VARCHAR},
      </if>
      <if test="TFDATE != null">
        TFDATE = #{TFDATE,jdbcType=DATE},
      </if>
      <if test="BEDITE != null">
        BEDITE = #{BEDITE,jdbcType=VARCHAR},
      </if>
      <if test="ISLAND != null">
        ISLAND = #{ISLAND,jdbcType=VARCHAR},
      </if>
      <if test="ISACTIVE != null">
        ISACTIVE = #{ISACTIVE,jdbcType=VARCHAR},
      </if>
      <if test="ISUSE != null">
        ISUSE = #{ISUSE,jdbcType=VARCHAR},
      </if>
    </set>
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vo.WzTFBH">
    update WZ_TFBH
    set TFM = #{TFM,jdbcType=VARCHAR},
      TFLAND = #{TFLAND,jdbcType=VARCHAR},
      ID = #{ID,jdbcType=VARCHAR},
      ISCOMPLETED = #{ISCOMPLETED,jdbcType=VARCHAR},
      TFME = #{TFME,jdbcType=VARCHAR},
      TFDATE = #{TFDATE,jdbcType=DATE},
      BEDITE = #{BEDITE,jdbcType=VARCHAR},
      ISLAND = #{ISLAND,jdbcType=VARCHAR},
      ISACTIVE = #{ISACTIVE,jdbcType=VARCHAR},
      ISUSE = #{ISUSE,jdbcType=VARCHAR}
    where TFBH = #{TFBH,jdbcType=VARCHAR}
  </update>
</mapper>