<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tx="http://www.springframework.org/schema/tx" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 配置数据源 -->
<!-- 	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource"> -->
<!-- 		<property name="driverClass" value="${jdbc_driverClassName}"/> -->
<!-- 		<property name="url" value="${jdbc_url}" /> -->
<!-- 		<property name="username" value="${jdbc_username}" /> -->
<!-- 		<property name="password" value="${jdbc_password}" /> -->
<!-- 	</bean> -->

<!-- 数据库链接信息 -->		
<!-- 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> -->
<!-- 		<property name="driverClass" value="${jdbc.driverClassName}"/> -->
<!-- 		<property name="jdbcUrl" value="${jdbc.url}"/> -->
<!-- 		<property name="user" value="${jdbc.username}"/> -->
<!-- 		<property name="password" value="${jdbc.password}"/> -->

<!-- 		<property name="maxPoolSize" value="${c3p0.pool.size.max}"/> -->
<!-- 		<property name="minPoolSize" value="${c3p0.pool.size.min}" /> -->
<!-- 		<property name="initialPoolSize" value="${c3p0.pool.size.ini}"/> -->
<!-- 		<property name="acquireIncrement" value="${c3p0.pool.size.increment}"/> -->
<!-- 	</bean> -->
<!--     	主数据源 -->
	<bean id="masterDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.master.driverClassName}"/>
		<property name="jdbcUrl" value="${jdbc.master.url}"/>
		<property name="user" value="${jdbc.master.username}"/>
		<property name="password" value="${jdbc.master.password}"/>

		<property name="maxPoolSize" value="${c3p0.master.pool.size.max}"/>
		<property name="minPoolSize" value="${c3p0.master.pool.size.min}" />
		<property name="initialPoolSize" value="${c3p0.master.pool.size.ini}"/>
		<property name="acquireIncrement" value="${c3p0.master.pool.size.increment}"/>
	</bean>
	<!--     	从数据源 -->
	<bean id="slaveDataSource"  class="com.mchange.v2.c3p0.ComboPooledDataSource">
       <property name="driverClass" value="${jdbc.slave.driverClassName}"/>
		<property name="jdbcUrl" value="${jdbc.slave.url}"/>
		<property name="user" value="${jdbc.slave.username}"/>
		<property name="password" value="${jdbc.slave.password}"/>

		<property name="maxPoolSize" value="${c3p0.slave.pool.size.max}"/>
		<property name="minPoolSize" value="${c3p0.slave.pool.size.min}" />
		<property name="initialPoolSize" value="${c3p0.slave.pool.size.ini}"/>
		<property name="acquireIncrement" value="${c3p0.slave.pool.size.increment}"/>
    </bean>
	
	<bean id="dataSource" class="com.common.db.datasource.DynamicDataSource">
        <property name="targetDataSources">  
              <map key-type="java.lang.String">  
                  <!-- write -->
                 <entry key="master" value-ref="masterDataSource"/>  
                 <!-- read -->
                 <entry key="slave" value-ref="slaveDataSource"/>  
              </map>  
        </property>  
        <property name="defaultTargetDataSource" ref="masterDataSource"/>  
    </bean>
	
	<!-- myBatis文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref ="dataSource"/>
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="mapperLocations" value="classpath:mapper/**/*.xml" />
		 <!-- 自动扫描mybatis配置文件 -->
    	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	  
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 拦截器方式配置事物 -->
<!-- 	事务的通知 -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="append*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="repair" propagation="REQUIRED" />
			<tx:method name="delAndRepair" propagation="REQUIRED" />

			<tx:method name="get*" propagation="SUPPORTS" />
			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="load*" propagation="SUPPORTS" />
			<tx:method name="search*" propagation="SUPPORTS" />
			<tx:method name="datagrid*" propagation="SUPPORTS" />

			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="transactionPointcut" expression="execution(* com.**.service..*Impl.*(..))" />
		<aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice" />
	</aop:config>
	
	<!-- 配置数据库注解aop -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <bean id="manyDataSourceAspect" class="com.common.db.datasource.aspect.DataSourceAspect" />
    <aop:config>
        <aop:aspect id="c" ref="manyDataSourceAspect">
<!--             <aop:pointcut id="tx" expression="execution(* com.*.slave.*.service..*Impl.*(..))"/> -->
            <aop:pointcut id="tx" expression="execution(* com.**.dao.*.*(..))"/>
            <aop:before pointcut-ref="tx" method="before"/>
        </aop:aspect>
    </aop:config>
    <!-- 配置数据库注解aop -->
	
</beans>