<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.riskfire.dao.RiskFireDao">
	<resultMap id="utiFactorMap" type="com.vo.UtiFactor" >
	     <!-- 设置联合主键 -->
		<id column="riskmodel" property="riskModel" jdbcType="VARCHAR"/>
		<id column="factorno" property="factorNo" jdbcType="VARCHAR"/>
		<id column="dangertype" property="dangerType" jdbcType="VARCHAR"/>
		
		<result column="factortype" property="factorType" jdbcType="VARCHAR"/>
		
	</resultMap>
	
	<select id="getUtiFactorById" resultMap="utiFactorMap"  parameterType="java.util.HashMap">
		select * from  utifactor where riskmodel=#{riskModel}
	</select>
	
</mapper>